* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section h2, section h3, form button {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 900;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #edecf1;
}

input {
    font-family: 'Rubik', sans-serif;
}

section {
    color: #7440d6;
}

header {
    padding: 16px;
    background-color: #7440d6;
    color: #ecf0f1;
}

header li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#homepage img {
    max-width: 1200px;
    height: 850px;   
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product {
    background-color: #ece2ff;
}

#product img {
    padding: 24px;
    width: 240px;
}

#product h2 {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-right: 24px;
    margin-left: 24px;
    text-align: center;
}

#product p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#about img {
    padding: 24px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

#about p {
    margin-bottom: 24px;
    text-align: center;
}

#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#FAQ {
    display: flex;
    text-align: center;
    background-color: #ece2ff;
}

#FAQ h2 {
    text-align: center;
    margin-top: 24px;
}

#FAQ p {
    padding: 24px;
    text-align: center;
}

body #contact {
    display: flex;
    justify-content: center;
}

#contact h2 {
    text-align: center;
    padding: 24px;
}

form input, form textarea, form button {
    display: block;
    width: 480px;
    margin-bottom: 8px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #7440d6;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    margin-bottom: 24px;
}

form button:hover {
    background-color: #8f5cec;
}

input:focus, textarea:focus {
    outline-color: #7440d6; 
}

#prefooter .container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prefooter {
    background-color: #ece2ff;
}

#prefooter .container {
    max-width: 800px;
}

#prefooter p {
    margin-bottom: 24px;
}

section h3 {
    padding: 16px;
    text-align: center;
}

.social-links img {
    height: 24px;
    margin-bottom: 24px;
}

.social-links li {
    display: inline;
    margin-right: 24px;
}

.social-links li a {
    text-decoration: none;
}

footer {
    padding: 16px;
    text-align: center;
    background-color: #7440d6;
    color: #ecf0f1;
}